.App {
  text-align: center;
}

.App-logo {
  max-width: 700px;
}

h1 {
  color:#727274;
  font-family: "Arial", Gadget, sans-serif;
}

h2 {
  color:#727274;
  font-family: "Arial", Gadget, sans-serif;
  font-size: 50px;
}

label {
  font-size: 40px;
  color:#727274;
  font-family: "Arial", Gadget, sans-serif;
}

input {
  font-size:30pt;
}

.container {  
  margin: 25px 100px 75px 100px;
  display: flex;
}

.checkin {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.check-in {
  width: 200px;
  height: 75px;
}

.checkout {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.home{
  height: 300%;
  width: 150%;
}

.column {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 30px;
}

.grid {
  display: inline;  
}
.gridEl {
  margin-left: 25px;
  margin-bottom: 25px;
  height: 100%;
  width: 25%;
}

ul {
  font-family: "Arial", Gadget, sans-serif;
}

button {
  background-color:	#99BADD;
	border-radius:18px;
	border:1px solid 	#99BADD;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
  text-align: center;
}

.dialog {
  margin-top: 50px;
  background-color:	#99BADD;
	border-radius:18px;
	border:1px solid 	#99BADD;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
  height: 150px;
  width: 40%;
  text-decoration:none;
}

.dialogdiv {
text-align: center;
}

button:hover {
	background-color:#638CB7;
}
button:active {
	position:relative;
	top:1px;
}

.textbox {
  padding: 15px;
}

.submit {
  margin-top: 50px;
  background-color:	#99BADD;
	border-radius:18px;
	border:1px solid 	#99BADD;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
  height: 20%;
  width: 20%;
  text-decoration:none;
}

.submit:hover {
	background-color:#638CB7;
}
.submit:active {
	position:relative;
	top:1px;
}